 body{
  background-color: #404040;
}
.left{
  align: left ;
}
.centeral{
  align: center;
}
#p2,#p3{
  display:none;
}
.clickable{
  /* text-color: blue; */
  /* text-size: 30px; */
 cursor: pointer;
  color: #ffffff;
}

.clickable:hover{
  text-decoration: underline;
}

button{
  align-self: center;
}

#first-suggestor{
  display: none;
  /* align-items: center; */
}
#question1,#question2,#question3,#question4,#question5,#question6{
  display: none;
}

#second-suggestor{
  display: none;
  /* align-items: center; */
}

#third-suggestor{
  display: none;
  /* align-items: center; */
}

#vacation-survey{
   /* display:none;  */
}
#home{
  display: none;
}
 .centered{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);

 }
  #cont1{
   position:relative;
   color:white;
   text-align: center;
 }
#sub{
  display:none;
}
