 body{
  background-color: lightblue;
}
.center{
  align:center;
}
/* .clickable{
  /* text-color:blue;
  text-size:30px; */
  /* cursur:pointer;
  color:#0088cc;
}

.clickable:haver{
  text-decoration: underline;
} */ 

button{
  align:center;
}
#first-suggestor{
  display: none;
  /* align-items: center; */
}

#second-suggestor{
  display: none;
  /* align-items: center; */
}

#third-suggestor{
  display: none;
  /* align-items: center; */
}

#vacation-survey{
   /* display:none;  */
}
